VisualElement {
}

.unit-container {
    align-items: auto;
    align-self: center;
    justify-content: center;
    align-content: flex-start;
    width: 90px;
    height: 90px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}
