VisualElement {
}

.resource-item {
    flex-direction: row;
    align-content: center;
    background-color: rgb(118, 105, 33);
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
}

.resource-item-sparklite {
    flex-direction: row;
    align-content: center;
    background-color: rgb(118, 105, 33);
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
}

.resource-item-scraponite {
    flex-direction: row;
    align-content: center;
    background-color: rgb(118, 105, 33);
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
}

.resource-item-pulsite {
    flex-direction: row;
    align-content: center;
    background-color: rgb(118, 105, 33);
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
}

.resource-icon-spark {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('/Assets/Dorian/Sprites/Ore/Iskryt.png');
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-left: 14%;
    height: 120%;
    width: 20%;
}

.resource-icon-scraponite {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('/Assets/Dorian/Sprites/Ore/Zlomit.png');
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-left: 14%;
    height: 120%;
    width: 20%;
}

.resource-icon-pulsite {
    background-color: rgba(0, 0, 0, 0);
    background-image: url('/Assets/Dorian/Sprites/Ore/Pulsyt.png');
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-left: 14%;
    height: 120%;
    width: 20%;
}

.resource-amount {
    -unity-font-style: bold;
    width: 25px;
}

.resource-name {
    width: 90px;
}

.button {
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    height: 70px;
    width: 290px;
    font-size: 27px;
    background-color: rgb(117, 105, 33);
    -unity-font-style: bold;
}
