VisualElement {
}

.resource-item {
    flex-direction: row;
    align-content: center;
    background-color: rgba(118, 105, 33, 0);
    height: 35px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
    background-image: url("project://database/Assets/Graphics%202D/Restroom/Crafting/Kafelek.PNG?fileID=2800000&guid=ff4e62c733a4df04bb54d11e6c4295b9&type=3#Kafelek");
    -unity-background-scale-mode: stretch-to-fill;
    -unity-slice-left: 45;
    -unity-slice-top: 2;
    -unity-slice-right: 100;
    -unity-slice-bottom: 2;
    -unity-slice-scale: 0.6px;
}

.resource-item-sparklite {
    flex-direction: row;
    align-content: center;
    background-color: rgb(118, 105, 33);
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
}

.resource-item-scraponite {
    flex-direction: row;
    align-content: center;
    background-color: rgb(118, 105, 33);
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
}

.resource-item-pulsite {
    flex-direction: row;
    align-content: center;
    background-color: rgb(118, 105, 33);
    height: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    width: 225px;
    align-self: center;
    align-items: center;
}

.resource-icon-spark {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/Dorian/Sprites/Ore/Iskryt.png?fileID=21300000&guid=1009f3db327645b4498e2a07910a4a62&type=3#Iskryt");
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-left: 14%;
    height: 90%;
    width: 18%;
}

.resource-icon-scraponite {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/Dorian/Sprites/Ore/Zlomit.png?fileID=21300000&guid=9cca951bc49707d46bbf9274263ada91&type=3#Zlomit");
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-left: 14%;
    height: 90%;
    width: 17%;
}

.resource-icon-pulsite {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/Dorian/Sprites/Ore/Pulsyt.png?fileID=21300000&guid=bef4e9a0e85c5e64fbab064f17f614ce&type=3#Pulsyt");
    margin-top: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    margin-left: 14%;
    height: 90%;
    width: 18%;
}

.resource-amount {
    -unity-font-style: bold;
    width: 25px;
    -unity-font-definition: url("project://database/Assets/Fonts/FhaCondensedFrenchNc-O2n3%20SDF%201.asset?fileID=11400000&guid=6b5bfbd6dafc19d4e9983ca25d6da867&type=2#FhaCondensedFrenchNc-O2n3 SDF 1");
}

.resource-name {
    width: 90px;
    -unity-font-definition: url("project://database/Assets/Fonts/FhaCondensedFrenchNc-O2n3%20SDF%201.asset?fileID=11400000&guid=6b5bfbd6dafc19d4e9983ca25d6da867&type=2#FhaCondensedFrenchNc-O2n3 SDF 1");
}

.button {
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
    margin-left: 25px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    height: 70px;
    width: 290px;
    font-size: 27px;
    background-color: rgba(117, 105, 33, 0);
    -unity-font-style: bold;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/Graphics%202D/Restroom/General/Guziczek.PNG?fileID=2800000&guid=7d82f8beff807a5478920b9a79624bca&type=3#Guziczek");
    -unity-slice-scale: 0;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    color: rgb(17, 17, 17);
}

.standard-event-popup-background {
    flex-grow: 0;
    height: 200px;
    width: 350px;
    background-color: rgba(118, 105, 33, 0);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: rgba(61, 54, 17, 0);
    border-right-color: rgba(61, 54, 17, 0);
    border-top-color: rgba(61, 54, 17, 0);
    border-bottom-color: rgba(61, 54, 17, 0);
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-image: url("project://database/Assets/Graphics%202D/UI%20tunnel/Ramka_2.PNG?fileID=2800000&guid=6b1cf70c2a464454f8bb19d490b51829&type=3#Ramka_2");
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -unity-slice-left: 815;
    -unity-slice-top: 320;
    -unity-slice-right: 611;
    -unity-slice-bottom: 320;
    color: rgb(166, 150, 126);
}

.standard-robot-craft-btn {
    flex-shrink: 1;
    width: 90px;
    height: 90px;
    background-color: rgb(0, 0, 0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    font-size: 20px;
    color: rgb(255, 244, 232);
}

.QM-btn {
    justify-content: flex-end;
    align-self: center;
    align-items: stretch;
    align-content: center;
    background-color: rgb(92, 82, 26);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 40%;
    height: 20%;
    color: rgb(27, 27, 27);
    font-size: 27px;
}

.unit-image {
    width: 150px;
    height: 150px;
    align-self: center;
    background-color: rgb(61, 54, 17);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: none;
    border-left-color: rgb(61, 54, 17);
    border-right-color: rgb(61, 54, 17);
    border-top-color: rgb(61, 54, 17);
    border-bottom-color: rgb(61, 54, 17);
}

.standard-gadget-slot-0 {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgba(117, 105, 33, 0);
    border-left-color: rgba(51, 46, 21, 0);
    border-right-color: rgba(51, 46, 21, 0);
    border-top-color: rgba(51, 46, 21, 0);
    border-bottom-color: rgba(51, 46, 21, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url("project://database/Assets/Graphics%202D/Restroom/Crafting/Kafelek.PNG?fileID=2800000&guid=ff4e62c733a4df04bb54d11e6c4295b9&type=3#Kafelek");
}

.standard-btn-q-management {
    justify-content: flex-end;
    align-self: center;
    align-items: stretch;
    align-content: center;
    background-color: rgba(92, 82, 26, 0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 40%;
    height: 20%;
    color: rgb(190, 172, 144);
    font-size: 27px;
    background-image: url("project://database/Assets/Graphics%202D/Restroom/Okno_wybor%C3%B3w.PNG?fileID=2800000&guid=b3384c6617274914b9b5733c72795ef9&type=3#Okno_wyborów");
}

.standard-gadget-slot-1 {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgba(117, 105, 33, 0);
    background-image: url("project://database/Assets/Graphics%202D/Restroom/Crafting/Kafelek.PNG?fileID=2800000&guid=ff4e62c733a4df04bb54d11e6c4295b9&type=3#Kafelek");
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.gear-craft-btn {
    flex-shrink: 1;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: rgb(255, 244, 232);
    background-image: url("project://database/Assets/Graphics%202D/Restroom/General/Z%C4%99batka.PNG?fileID=2800000&guid=b925647b772ca984f8c8632b42dd99ff&type=3#Zębatka");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
    flex-grow: 1;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-bottom-left-radius: 75px;
}

.btn-back {
    border-top-left-radius: 127px;
    border-top-right-radius: 127px;
    border-bottom-right-radius: 127px;
    border-bottom-left-radius: 127px;
    border-left-color: rgba(72, 72, 72, 0);
    border-right-color: rgba(72, 72, 72, 0);
    border-top-color: rgba(72, 72, 72, 0);
    border-bottom-color: rgba(72, 72, 72, 0);
    background-color: rgba(27, 27, 27, 0);
    color: rgb(255, 244, 232);
    width: 40px;
    height: 40px;
    margin-top: 23px;
    margin-right: 23px;
    margin-bottom: 23px;
    margin-left: 23px;
    align-self: flex-start;
    position: absolute;
    top: 10px;
    left: 701px;
    align-items: auto;
    align-content: center;
    justify-content: flex-start;
    background-image: url("project://database/Assets/Graphics%202D/Restroom/General/X.PNG?fileID=2800000&guid=cb89d58f426c8b549a79aa764ec1ad30&type=3#X");
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}


