VisualElement {
}

.background {
    background-color: rgb(31, 27, 0);
    background-image: url("project://database/Assets/Graphics%202D/Restroom/Crafting/T%C5%82o_Crafting.PNG?fileID=2800000&guid=78f004ca403aca44ea56fc1453454447&type=3#Tło_Crafting");
    -unity-background-image-tint-color: rgb(149, 125, 109);
}

.quickmanagementbtn {
    background-color: rgba(142, 127, 42, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    color: rgb(255, 245, 235);
}

.original-textcolor {
    color: rgb(156, 136, 104);
}

.textcolor {
    color: rgb(255, 245, 235);
}
