.pathButton {
    width: 65px;
    height: 65px;
    font-size: 25px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-width: 2px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
}

.node-current,
.node-current:disabled {
    background-color: rgb(20, 50, 20);
    color: rgb(255, 255, 255);
    border-color: rgb(62, 89, 62);
    border-width: 5px;
    opacity: 1;
}

.node-visited,
.node-visited:disabled {
    background-color: rgb(48, 82, 48);
    color: rgb(255, 255, 255);
    border-color: rgb(82, 82, 82);
    opacity: 0.55;
}

.node-available {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 244, 232);
    border-color: rgb(0, 0, 0);
}

.node-locked,
.node-locked:disabled {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 244, 232);
    border-color: rgb(82, 82, 82);
    opacity: 0.55;
}

.node-boss,
.node-boss:disabled {
    border-color: rgb(64, 34, 34);
}

.animated-tooltip {
    transition: opacity 0.15s ease-out, scale 0.15s ease-out;
    opacity: 1;
    scale: 1;
}

.tooltip-hidden {
    opacity: 0;
    scale: 0.85;
}

